
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Conversation specifics</h1>
			<h3>Change the flow of the conversation. The application will read from a csv of the following format</h3>
			<table class="table table-bordered table-hover">
				<tr>
					<th>Stage number</th>
					<th>Receiver Prompt</th>
					<th>Receiver Button Text 1</th>
					<th>Receiver Button Text 2</th>
					<th>Receiver Button Destination 1 </th>
					<th>Receiver Button Destionation 2</th>
					<th>Giver Prompt</th>
					<th>Giver Button Text 1</th>
					<th>Giver Button Text 2</th>
					<th>Giver Button Destination 1 </th>
					<th>Giver Button Destionation 2</th>
				</tr>
			</table>


		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>
				Current email to sends log to at the end of conversation: none
			</h3>
			<p>
				<button class="btn btn-primary">Change email</button>
			</p>
		</div>
	</div>
</div>
